@inherits System.Web.Mvc.WebViewPage<myDojo.Web.Models.Account.LogonForm>

@{
    View.Title = "Logon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Logon</h2>
    @using(Html.BeginForm()){
    @Html.EditorForModel()
    <input type="submit" value="login" />
    }
