@inherits System.Web.Mvc.WebViewPage<MyDojo.Query.ViewModels.MartialArtistDetails>

@{
    View.Title = "Details";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.Name</h2>
    <a href='Edit/?email=@Model.EmailAddress'>Edit</a>
    <div>
        @Model.Biography
    </div>

