@model MyDojo.Query.ViewModels.MartialArtistDetails

@{
    View.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>@Model.Name</h2>
    <a href='@Url.Action("Edit","User",new{email=Model.EmailAddress})'>Edit</a>
    <div>
        @Model.Biography
    </div>

