@inherits System.Web.Mvc.WebViewPage<myDojo.Web.Models.Users.EditMartialArtistForm>

@{
    View.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Edit your account</h2>
    <fieldset>
	    <form action='@Url.Action("Edit","User")' method='post'>
		   @Html.EditorForModel()
		    <div>
                <input type="submit" value="Update" />
            </div>
	    </form>
    </fieldset>