@model IEnumerable<MyDojo.Query.ViewModels.MartialArtistDetails

@{
    View.Title = "ShowReferrers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>All the Martial Artists</h2>
    <ul>
    @foreach(var martialArtist in Model){
        <li><a href="Details/@martialArtist.Id">@martialArtist.Name (@martialArtist.EmailAddress)</a></li>
    }
    </ul>

