@inherits System.Web.Mvc.WebViewPage<myDojo.Web.Models.RegisterUserForm>

@{
    View.Title = "Register";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Create your account</h2>
	<form action='@Url.Action("Register","User")' method='POST'>
	    <div>
            @Html.LabelFor(m => m.EmailAddress)
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>
        <div>
            <input type="submit" value="ok" />
        </div>
	</form>

